server:
  port: 8099
spring:
  datasource:
#    url: jdbc:sqlite::resource:sqlite/sqmusic.db
#    url: jdbc:sqlite:/D:\\music\\sqmusic.db
#    url: jdbc:sqlite:/cache/sqmusic.db
    url: jdbc:mysql://${DB_IP:localhost}:${DB_PORT:3306}/${DB_NAME:sqmusic}?useUnicode=true&useSSL=false&characterEncoding=utf8&serverTimezone=UTC&rewriteBatchedStatements=true&allowMultiQueries=true
    driver-class-name: com.mysql.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    type: com.zaxxer.hikari.HikariDataSource
    # 连接池
    hikari:
      #连接池名
      pool-name: DateHikariCP
      #最小空闲连接数
      minimum-idle: 5
      # 空闲连接存活最大时间，默认600000（10分钟）
      idle-timeout: 180000
      # 连接池最大连接数，默认是10
      maximum-pool-size: 10
      # 此属性控制从池返回的连接的默认自动提交行为,默认值：true
      auto-commit: true
      # 此属性控制池中连接的最长生命周期，值0表示无限生命周期，默认1800000即30分钟
      max-lifetime: 1800000
      # 数据库连接超时时间,默认30秒，即30000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  jackson:
    default-property-inclusion: non_null
  profiles:
    active: plug,qq,netease,qqvip
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/static/**
  main:
    allow-circular-references: true
    banner-mode: off
mybatis-plus:
  # 搜索指定包别名
  typeAliasesPackage: com.sqmusicplus.*.entity
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/*Mapper.xml
  # 加载全局的配置文件
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    cache-enabled: true
  global-config:
    db-config:
#      select-strategy: NOT_NULL
      select-strategy: NOT_NULL
    banner: false

# 日志配置
logging:
  level:
    com.sqmusicplus: info
    org.springframework: warn
sa-token:
  # token 名称 (同时也是cookie名称)
  token-name: sqmusic
  # token 有效期，单位s 默认30天, -1代表永不过期
  timeout: -1
  # token 临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false
  is-print: false

version: 2.13.1

